.spotify {
    width: 2.714rem;
}

.headerTitle {
    color: #1ED760;
    font-weight: bolder;

}

.headerDiv {
    display: flex;
    width: 8.723rem;
    gap: 0.409rem;
    padding-top: 3.438rem;
    padding-left: 2.188rem;
}

@media screen and (max-width:700px) {
    .spotify {
        width: 2rem;
        
    }

    .headerDiv {
        padding-left: 1rem;

        padding-top: 1rem;

        width: 90%;

        gap: 1rem;

    }

    .headerTitle {
        font-size: 1.5rem;

    }
}